    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="keywords" content="Riichi, Mahjong, Japanese, Detroit, Ann Arbor, Michigan, SEMI, SE-MI, SE Michigan, Riichi Mahjong">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% elseif page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="A site for the Southeast Michigan Riichi Mahjong club. We play the Japanese variant of mahjong in the Detroit and Ann Arbor areas">
    <meta property="og:description" content="A site for the Southeast Michigan Riichi Mahjong club. We play the Japanese variant of mahjong in the Detroit and Ann Arbor areas" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
